// ----------------------------------------
// ----------------------------------------
// ResponsiveWitness BEGIN
.ResponsiceWitness {
	&.has-breakpoints {
		color: color-contrast($gray-900);
		&:before {
			content: '-';
			position: fixed;
			display: block;
			padding: 8px 0;
			width: 40px;
			height: 40px;
			font-size: 0.8rem;
			text-align: center;
			z-index: 9999;
		}

		&:after {
			content: '';
			position: fixed;
			display: block;
			width: 40px;
			height: 40px;
			background: variable('gray-900');
			opacity: 0.85;
			pointer-events: none;
			z-index: 9998;
		}
    }

    @each $breakpoint, $value in $breakpoints {
    	&.has-breakpoints {
			@include mediaq('>#{$breakpoint}') {
				&:before {
					content:'#{$breakpoint}';
				}

				&:hover {
					&:before {
						content: '#{$value}';
					}
				}
			}
    	}
	}
}
